.pregunta {
    text-align: center;
    margin: 50px 0;
    font-size: 50px;
    color: #4e342e;
}

.imagen-actividad {
  display: block;
  margin: 20px auto;
  max-width: 80%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}