<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Mi App Didáctica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="usuario-box">
    <h2 [@slideInLeft]>Hola, {{ usuario }}</h2>
  </div>

  <ion-item class="animated-input nombre-input">
    <ion-label position="floating">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item class="animated-input apellido-input">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Nivel de educación</ion-label>
    <ion-select [(ngModel)]="nivelEducacion">
      <ion-select-option value="2° Básico">2° Básico</ion-select-option>
      <ion-select-option value="3° Básico">3° Básico</ion-select-option>
      <ion-select-option value="4° Básico">4° Básico</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Fecha de nacimiento</ion-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="fechaNacimiento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </ion-item>

  <div class="botones">
    <ion-button expand="full" color="medium" (click)="limpiar()">Limpiar</ion-button>
    <ion-button expand="full" color="success" (click)="mostrarInfo()">Mostrar</ion-button>
  </div>

  <ion-button expand="block" routerLink="/actividad1">Ir a Actividad 1</ion-button>
  <ion-button expand="block" routerLink="/actividad2">Ir a Actividad 2</ion-button>
  <ion-button expand="block" routerLink="/resultados" color="tertiary">Ver Resultados</ion-button>

  <ion-button expand="block" color="danger" (click)="irAlLogin()">
    Cerrar Sesión
  </ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="warning">
    <ion-title class="ion-text-center">¡Gracias por usar la app!</ion-title>
  </ion-toolbar>
</ion-footer>



